<configuration>

  <appender name="FILE-MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/logs-%d{yyyy-MM-dd}/kit-transactionserver-main.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>[%date{HH:mm:ss.SSS}] [%thread] [%level] [%file:%line] %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="FILE-DATABASE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/logs-%d{yyyy-MM-dd}/database.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>[%date{HH:mm:ss.SSS}] [%thread] [%level] [%class{0}] %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="FILE-ADAPTERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/logs-%d{yyyy-MM-dd}/adapters.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>[%date{HH:mm:ss.SSS}] [%thread] [%level] [%class{0}] %msg%n</Pattern>
    </encoder>
  </appender>    
  
  <appender name="FILE-CONNECTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/logs-%d{yyyy-MM-dd}/connections.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>[%date{HH:mm:ss.SSS}] [%thread] [%level] [%class{0}] %msg%n</Pattern>
    </encoder>
  </appender>   
    
  <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">      
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>   
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%date] [%level] [%thread] [%logger{64}:%method] [%file:%line] %msg%n%caller{16}%throwable{full}%n%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/errors/errors-%d{yyyy-ww}.log</fileNamePattern>
    </rollingPolicy>
  </appender>     

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{HH:mm:ss.SSS}] [%thread] [%level] [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.fap.loggers.db" level="TRACE" additivity="false">
    <appender-ref ref="FILE-DATABASE" />
  </logger>

  <logger name="com.kit.lightserver.adapters.logger" level="TRACE" additivity="false">
    <appender-ref ref="FILE-ADAPTERS" />
  </logger>
  
  <logger name="com.kit.lightserver.loggers.connectionlogger" level="TRACE" additivity="false">
    <appender-ref ref="FILE-CONNECTIONS" />
  </logger>
  
  <root level="info">
    <appender-ref ref="FILE-MAIN" />
    <appender-ref ref="FILE-ERROR" />
    <appender-ref ref="STDOUT" />   
  </root>
  
</configuration>